<!-- Footer -->
<footer class="footer">

  <!-- Logo of 40days -->
  <div class="logo-footer">

  </div>

  <!-- A PROPOS DE NOUS -->
  <div class="footer-brand-info">
    <h4>A PROPOS DE NOUS</h4>
    <div class="footer-section-links">
      <ul class="list-inline">
        <!-- History -->
        <li>
          <%= link_to '#' do %>
            <i>History</i>
          <% end %>
        </li>
        <li class="point-separator">•</li>
        <!-- Press-->
        <li>
          <%= link_to '#' do %>
            <i>Press</i>
          <% end %>
        </li>
        <li class="point-separator">•</li>
        <!-- Contact -->
        <li>
          <%= link_to '#' do %>
            <i>Contact</i>
          <% end %>
        </li>
        <li class="point-separator">•</li>
        <!-- Privacy -->
        <li>
          <%= link_to '#' do %>
            <i>Privacy</i>
          <% end %>
        </li>
        <li class="point-separator">•</li>
      </ul>
    </div>
  </div>

  <!-- List of social icons -->
  <div class="footer-social-icons">
    <p>SUIVEZ-NOUS</p>
    <ul class="list-inline">
      <a href="#"><li id="facebook"><i class="fa fa-facebook"></i></li></a>
      <a href="#"><li id="google"><i class="fa fa-google-plus"></i></li></a>
      <a href="#"><li id="twitter"><i class="fa fa-twitter"></i></li></a>
      <a href="#"><li id="youtube"><i class="fa fa-youtube"></i></li></a>
      <a href="#"><li id="linkedin"><i class="fa fa-linkedin"></i></li></a>
      <a href="#"><li id="instagram"><i class="fa fa-instagram"></i></li></a>
      <a href="#"><li id="github"><i class="fa fa-github"></i></li></a>

    </ul>
  </div>

  <!-- © 40days, inc. -->
  <div class="shout-out">
    <br>
    <p>©2015 40days, Inc.</p>
  </div>

</footer>
