<h1>Bravo, Vous êtes bien inscrit à la formation <%= @subscription.course.name %></h1>
  <ul>
    <li>Status: <%= @subscription.state %></li>
    <li>Course: <%= @subscription.course.name %></li>
    <li>Amount: <%= humanized_money_with_symbol(@subscription.amount) %></li>

  <ul>
