
<div class="container">
 <div class="row">
   <div class="text-center">
   <h2> Bravo, vous êtes bien inscrit </h2>
   </div>
   <div class = "Card-Payment">
     <div class = "text-center">
       <%= image_tag @course.image.url(:medium), class: "image-subscription" %>
       <%= link_to "Accéder au cours", course_lessons_path(@course), class: "btn btn-primary btn-lg btn-inscription" %>
     </div>
   </div>
 </div>
</div>
