<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h2>Log in</h2>

      <%= link_to "Sign in with Facebook", omniauth_authorize_path(resource_name, :facebook), class: "navbar-wagon-item navbar-wagon-button btn" %><br />
   </div>
  </div>
</div>
