.button-wrapper {
    margin-top: 40px;
    padding: 14px 20px;
    border: 0 none;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button-show {
  margin-bottom: 5px;
}



.image-subscription {
  padding-bottom: 10px;
  border-radius: 6px;

.btn-facebook {
  background: #305C99;
  color: white;
  line-height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 40px;
  margin-top: 20px;
  i.fa-facebook {
    padding-right: 10px;
    border-right: 2px solid white;
    margin-right: 5px;
  }
  &:hover {
    background: #305C99;
    color: white;
    opacity: 0.8;
  }
}
