.button-wrapper {
    margin-top: 40px;
    padding: 14px 20px;
    border: 0 none;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button-show {
  margin-bottom: 5px;
}
