<div class="form-review">
  <%= simple_form_for([course, review]) do |f| %>
    <%= f.input :comment, placeholder: "Awesome course" %>
    <% f.input :star %>

    <div class="form-group">
      <fieldset class="rating">
          <input type="radio" id="star5" name="review[star]" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4" name="review[star]" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3" name="review[star]" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2" name="review[star]" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1" name="review[star]" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
      </fieldset>
    </div>
    <%= f.hidden_field :course_id, :value => course.id %>
    <div class="actions">
      <%= f.submit "Laisser un avis", class: "btn btn-primary pull-right", style: "margin-top: 15px; width: 100%;" %>
    </div>
  <% end %>

  <div style="clear: both;"></div>
</div>
