<div class="card-testimonial">
  <div class="card-testimonial-content">
    <%= image_tag review.user.picture, class: "img-circle" %>
    <div class="card-testimonial-text">
      <span class="quote"><i class="fa fa-quote-left"></i></span>
      <%= review.comment %>
    </div>
  </div>
  <div class="card-testimonial-stars">
    <% review.star.times do  %>
      <i class="fa fa-star"></i>
    <% end %>
  </div>
  <% if policy(review).destroy? %>
    <%= link_to course_review_path(course, review), method: :delete, data: { confirm: "Are you sure?"} do %>
      <i class="fa fa-trash"></i>
    <% end %>
  <% end %>
</div>

